body {
    background-color: #F0F0F0;
    color: rgb(49, 52, 60);
    width: 100%;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}

header{
    text-align:center;
    border-bottom: solid 3px #5d98ff51;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

#mainLogo {
    width: 300px;
    display: block;
    margin:0 auto;
    margin-bottom: 10px;
    margin-top:40px;
}

.outermostcontainer{
    max-width:1000px;
    margin:0 auto;
}

footer {
    text-align: left;
    padding: 10px;
    background: rgb(206, 206, 206);
    opacity: 0.5;
    font-size: 0.85em;
}



.tagline {
    line-height: 0.5px;
    margin-top: 0px;
    opacity: 0.6;
    font-weight: 200;
}

.trendingCryptoBox {
    border: dotted 1px #5d98ff;
    display: inline-block;
    margin: 5px;
    width: 150px;
    min-width:150px;
    padding: 10px;
    display: flexbox;
    height:90px;
    max-height:90px;
}

.trendingCryptoContainer {
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    display: block;
}

.mainContainer {
    padding: 0px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}

h2 {
    text-align: left;
    border-bottom: solid 3px #5d98ff51;
    max-width: 700px;
}

.bignumber1 {
    font-size: 35px;
    padding: 5px;
    padding-left: 0px;
    margin: 5px;
    margin-left: 0px;
    font-weight: 800;
    opacity: 0.8;
    text-align: left;
}

.lighter {
    opacity: 0.65;
}

.verylight {
    opacity: 0.4;
}

/* FIRST Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 370px) {}

/* SECONDSmall devices (landscape phones, 576px and up) */
@media (max-width: 580px) {}

/* THIRD // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {}

/* FOURTH // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* FIFTH // X-Large devices (large desktops, 1400px and up) */
@media (max-width: 1300px) {}

/* SIXTH // XX-Large devices (larger desktops, 2000px and up) */
@media (max-width: 1600px) {}